.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1608px;
  height: 3001px;
  position: relative;
}

.landing-page .overlap {
  position: absolute;
  width: 1608px;
  height: 2423px;
  top: 0;
  left: 0;
}

.landing-page .rectangle {
  position: absolute;
  width: 1608px;
  height: 800px;
  top: 0;
  left: 0;
}

.landing-page .title {
  position: absolute;
  width: 514px;
  height: 170px;
  top: 225px;
  left: 539px;
}

.landing-page .text-wrapper {
  position: absolute;
  width: 469px;
  top: 0;
  left: 30px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutrals-100);
  font-size: 72px;
  letter-spacing: 0;
  line-height: 79.2px;
}

.landing-page .group {
  position: absolute;
  width: 508px;
  height: 73px;
  top: 80px;
  left: 2px;
  transform: rotate(3.74deg);
}

.landing-page .vector {
  position: absolute;
  width: 507px;
  height: 60px;
  top: 7px;
  left: 1px;
  transform: rotate(-3.74deg);
}

.landing-page .img {
  position: absolute;
  width: 2px;
  height: 4px;
  top: 0;
  left: 62px;
  transform: rotate(-3.74deg);
}

.landing-page .rectangle-2 {
  position: absolute;
  width: 4px;
  height: 3px;
  top: 187px;
  left: 231px;
  background-color: #d9d9d9;
}

.landing-page .top-nav {
  display: flex;
  width: 1297px;
  height: 81px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 124px;
  position: absolute;
  top: 0;
  left: 147px;
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 0px 4px 20.5px #0000001a;
}

.landing-page .frame {
  display: flex;
  width: 206px;
  height: 54px;
  align-items: center;
  position: relative;
}

.landing-page .black-and-white {
  position: relative;
  width: 62.87px;
  height: 51px;
}

.landing-page .text-wrapper-2 {
  position: relative;
  width: 123px;
  margin-left: -10px;
  font-family: "Baskervville-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 73px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.landing-page .menu-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.landing-page .top-menu-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 22px 10px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .top-menu {
  display: inline-flex;
  flex-direction: column;
  height: 26px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.landing-page .caption {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #515b6f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .rectangle-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 4px;
  margin-bottom: -28px;
}

.landing-page .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 93px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 22px 10px;
  position: relative;
}

.landing-page .top-menu-2 {
  height: 26px;
  margin-left: -21px;
  margin-right: -21px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.landing-page .frame-2 {
  display: flex;
  flex-direction: column;
  width: 83px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 10px;
  position: relative;
}

.landing-page .top-menu-3 {
  height: 23px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.landing-page .caption-2 {
  margin-bottom: -2px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #00a0bf;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .rectangle-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 4px;
  margin-bottom: -31px;
}

.landing-page .buttons {
  display: inline-flex;
  height: 78px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .button {
  all: unset;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #005fa5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 20px;
}

.landing-page .caption-3 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #005fa5;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .caption-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #005fa5;
  border-radius: 20px;
}

.landing-page .caption-4 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutrals-0);
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .rectangle-5 {
  position: absolute;
  width: 1025px;
  height: 1845px;
  top: 578px;
  left: 194px;
  background-color: #cad6f0;
  border-radius: 30px;
}

.landing-page .rectangle-6 {
  position: absolute;
  width: 1025px;
  height: 1845px;
  top: 463px;
  left: 327px;
  background-color: #adbee1;
  border-radius: 30px;
}

.landing-page .p {
  position: absolute;
  width: 896px;
  top: 576px;
  left: 394px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 37.6px;
  letter-spacing: 0;
  line-height: 60.2px;
}

.landing-page .footer {
  position: absolute;
  width: 1727px;
  height: 526px;
  top: 2475px;
  left: -93px;
  background-color: #005fa5;
}

.landing-page .social-media-icons {
  position: absolute;
  width: 239px;
  height: 32px;
  top: 429px;
  left: 1268px;
}

.landing-page .twitter {
  position: absolute;
  width: 35px;
  height: 32px;
  top: 0;
  left: 204px;
}

.landing-page .overlap-group {
  position: relative;
  height: 32px;
  border-radius: 17.32px/16px;
}

.landing-page .ellipse {
  position: absolute;
  width: 35px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border-radius: 17.32px/16px;
  opacity: 0.1;
}

.landing-page .twitter-2 {
  position: absolute;
  width: 13px;
  height: 10px;
  top: 11px;
  left: 11px;
}

.landing-page .linked-in {
  position: absolute;
  width: 35px;
  height: 32px;
  top: 0;
  left: 152px;
}

.landing-page .linked-in-2 {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 11px;
  left: 12px;
}

.landing-page .dribbble {
  position: absolute;
  width: 35px;
  height: 32px;
  top: 0;
  left: 100px;
}

.landing-page .dribbble-2 {
  position: absolute;
  width: 14px;
  height: 13px;
  top: 10px;
  left: 11px;
}

.landing-page .instagram {
  position: absolute;
  width: 35px;
  height: 32px;
  top: 0;
  left: 48px;
}

.landing-page .instagram-2 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 10px;
  left: 10px;
}

.landing-page .facebook {
  position: absolute;
  width: 35px;
  height: 32px;
  top: 0;
  left: 0;
}

.landing-page .facebook-2 {
  position: absolute;
  width: 6px;
  height: 12px;
  top: 10px;
  left: 14px;
}

.landing-page .copyright {
  position: absolute;
  width: 290px;
  height: 26px;
  top: 428px;
  left: 162px;
  opacity: 0.5;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--body-normal-medium-font-family);
  font-weight: var(--body-normal-medium-font-weight);
  color: var(--color-white);
  font-size: var(--body-normal-medium-font-size);
  letter-spacing: var(--body-normal-medium-letter-spacing);
  line-height: var(--body-normal-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-normal-medium-font-style);
}

.landing-page .divider {
  position: absolute;
  width: 1192px;
  height: 1px;
  top: 385px;
  left: 124px;
}

.landing-page .line {
  position: absolute;
  width: 1192px;
  height: 2px;
  top: -2px;
  left: 0;
}

.landing-page .right {
  position: absolute;
  width: 373px;
  height: 189px;
  top: 64px;
  left: 1145px;
}

.landing-page .subscribe {
  position: absolute;
  width: 369px;
  height: 50px;
  top: 139px;
  left: 0;
}

.landing-page .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  border-radius: 15px;
}

.landing-page .input {
  width: 223px;
  padding: 12px 16px;
  position: relative;
  background-color: var(--neutrals-0);
  border-radius: 15px;
  border: 1px solid;
  border-color: var(--neutrals-20);
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutrals-40);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .button-2 {
  all: unset;
  box-sizing: border-box;
  background-color: var(--foundation-bluenormal);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 20px;
}

.landing-page .caption-5 {
  font-family: var(--button-normal-font-family);
  font-weight: var(--button-normal-font-weight);
  color: var(--neutrals-0);
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-size: var(--button-normal-font-size);
  letter-spacing: var(--button-normal-letter-spacing);
  line-height: var(--button-normal-line-height);
  white-space: nowrap;
  font-style: var(--button-normal-font-style);
}

.landing-page .text-wrapper-4 {
  position: absolute;
  width: 330px;
  top: 47px;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutrals-20);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutrals-0);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.landing-page .menu-3 {
  position: absolute;
  width: 325px;
  height: 241px;
  top: 64px;
  left: 684px;
}

.landing-page .second-column {
  position: absolute;
  width: 81px;
  height: 220px;
  top: 0;
  left: 246px;
}

.landing-page .description {
  position: absolute;
  width: 87px;
  height: 173px;
  top: 47px;
  left: 0;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  top: 147px;
  left: 0;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutrals-20);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  top: 98px;
  left: 0;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutrals-20);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .text-wrapper-8 {
  position: absolute;
  top: 49px;
  left: 0;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutrals-20);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutrals-20);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .first-column {
  position: absolute;
  width: 103px;
  height: 241px;
  top: 0;
  left: 0;
}

.landing-page .description-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 47px;
  left: 0;
}

.landing-page .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutrals-20);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutrals-20);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: var(--neutrals-0);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.landing-page .left {
  position: absolute;
  width: 378px;
  height: 78px;
  top: 171px;
  left: 155px;
}

.landing-page .text-wrapper-14 {
  position: absolute;
  width: 376px;
  top: 0;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutrals-20);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page .frame-4 {
  display: flex;
  width: 212px;
  height: 54px;
  align-items: center;
  position: absolute;
  top: 39px;
  left: 162px;
}

.landing-page .text-wrapper-15 {
  position: relative;
  width: 144px;
  margin-left: -10px;
  font-family: "Baskervville-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}